In [1]:
import os
import pandas as pd

In [4]:
data_path = '../data/data_by_group/'
output_path = '../data/irap_data.csv'

begin_date = "20050101"
end_date = "20200326"

In [16]:
comb_data = None

for group_folder in sorted(os.listdir(data_path)):
    folder_path = data_path + group_folder + '/'
    print(folder_path)
    if not os.path.isdir(folder_path):
        continue
    
    for company_data in os.listdir(folder_path):
        
        if company_data[-4:] != '.csv':
            continue
        
        print(company_data)
        company_data_path = folder_path + company_data
        
        temp_data = pd.read_csv(company_data_path, index_col=0, parse_dates=True)
        comb_data = pd.concat([comb_data, temp_data], axis=1)

../data/data_by_group/.DS_Store/
../data/data_by_group/1/
Globe Life Inc_12_PdChart_AsOf2020-03-26.csv
Bridgemarq Real Estate Services_12_PdChart_AsOf2020-03-26.csv
Zurich Insurance Group AG_12_PdChart_AsOf2020-03-26.csv
Guardian Capital Group Ltd_12_PdChart_AsOf2020-03-26.csv
Societe Fonciere Lyonnaise SA_12_PdChart_AsOf2020-03-26.csv
Daesung Private Equity Inc_12_PdChart_AsOf2020-03-26.csv
NBT Bancorp Inc_12_PdChart_AsOf2020-03-26.csv
Malayan Banking Bhd_12_PdChart_AsOf2020-03-26.csv
US Bancorp_12_PdChart_AsOf2020-03-26.csv
Urstadt Biddle Properties Inc_12_PdChart_AsOf2020-03-26.csv
American Tower Corp_12_PdChart_AsOf2020-03-29.csv
US Global Investors Inc_12_PdChart_AsOf2020-03-26.csv
Gecina SA_12_PdChart_AsOf2020-03-26.csv
MutualFirst Financial Inc_12_PdChart_AsOf2020-03-26.csv
BlackRock Inc_12_PdChart_AsOf2020-03-26.csv
1st Source Corp_12_PdChart_AsOf2020-03-26.csv
Finbar Group Ltd_12_PdChart_AsOf2020-03-26.csv
3i Group PLC_12_PdChart_AsOf2020-03-26.csv
Landmark Bancorp Inc_Manhattan KS_12_PdChart_AsOf2020-03-26.csv
CVB Financial Corp_12_PdChart_AsOf2020-03-26.csv
../data/data_by_group/2/
Public Bank Bhd_12_PdChart_AsOf2020-03-26.csv
Jordan French Insurance_12_PdChart_AsOf2020-03-27.csv
1st Constitution Bancorp_12_PdChart_AsOf2020-03-27.csv
First Commonwealth Financial Corp_12_PdChart_AsOf2020-03-26.csv
Fragrance Group Ltd_12_PdChart_AsOf2020-03-26.csv
Glen Burnie Bancorp_12_PdChart_AsOf2020-03-26.csv
BNC Bancorp_12_PdChart_AsOf2017-06-15.csv
Fonciere Atland_12_PdChart_AsOf2020-03-26.csv
Southside Bancshares Inc_12_PdChart_AsOf2020-03-26.csv
A Brown Co Inc_12_PdChart_AsOf2020-03-27.csv
CRED Holding Co Ltd_12_PdChart_AsOf2020-03-26.csv
Panther Securities PLC_12_PdChart_AsOf2020-03-26.csv
American National Insurance Co_12_PdChart_AsOf2020-03-29.csv
Prudential Bancorp Inc_12_PdChart_AsOf2020-03-26.csv
HSBC Holdings PLC_12_PdChart_AsOf2020-03-26.csv
Hang Seng Bank Ltd_12_PdChart_AsOf2020-03-26.csv
FRACTALE Corp_12_PdChart_AsOf2020-03-26.csv
Commonwealth Bank of Australia_12_PdChart_AsOf2020-03-26.csv
Joindre Capital Services Ltd_12_PdChart_AsOf2020-03-27.csv
Hitachi Capital Corp_12_PdChart_AsOf2020-03-26.csv
../data/data_by_group/3/
AF Global Ltd_12_PdChart_AsOf2020-03-26.csv
Aichi Bank Ltd_The_12_PdChart_AsOf2020-03-26.csv
Skandinaviska Enskilda Banken AB_12_PdChart_AsOf2020-03-26.csv
Land & General Bhd_12_PdChart_AsOf2020-03-26.csv
Gazit-Globe Ltd_12_PdChart_AsOf2020-03-26.csv
Skjern Bank_12_PdChart_AsOf2020-03-26.csv
GAM Holding AG_12_PdChart_AsOf2020-03-26.csv
SK Securities Co Ltd_12_PdChart_AsOf2020-03-26.csv
Ladenburg Thalmann Financial Services Inc_12_PdChart_AsOf2020-02-13.csv
AEON Financial Service Co Ltd_12_PdChart_AsOf2020-03-26.csv
DNB ASA_12_PdChart_AsOf2020-03-26.csv
GEK Terna Holding Real Estate Construction SA_12_PdChart_AsOf2020-03-26.csv
Jyske Bank A_S_12_PdChart_AsOf2020-03-27.csv
Aksigorta AS_12_PdChart_AsOf2020-03-26.csv
Gemdale Properties & Investment Corp Ltd_12_PdChart_AsOf2020-03-26.csv
AEC Securities PCL_12_PdChart_AsOf2020-03-26.csv
FirstRand Ltd_12_PdChart_AsOf2020-03-26.csv
LAMDA Development SA_12_PdChart_AsOf2020-03-26.csv
Kuwait Financial Centre SAK_12_PdChart_AsOf2020-03-27.csv
Aliansce Sonae Shopping Centers sa_12_PdChart_AsOf2020-03-26.csv
../data/data_by_group/4/
Arlington Asset Investment Corp_12_PdChart_AsOf2020-03-26.csv
Al-Massaleh Real Estate Co KSC_12_PdChart_AsOf2020-03-26.csv
Andhra Bank_12_PdChart_AsOf2020-03-26.csv
Alliance Data Systems Corp_12_PdChart_AsOf2020-03-26.csv
Alpha Bank AE_12_PdChart_AsOf2020-03-26.csv
Akita Bank Ltd_The_12_PdChart_AsOf2020-03-26.csv
Aplus Financial Co Ltd_12_PdChart_AsOf2020-03-26.csv
Agat Ejendomme A_S_12_PdChart_AsOf2020-03-26.csv
AID Life Science Holdings Ltd_12_PdChart_AsOf2020-03-26.csv
Asia Orient Holdings Ltd_12_PdChart_AsOf2020-03-26.csv
Allahabad Bank_12_PdChart_AsOf2020-03-26.csv
AQ Estate PCL_12_PdChart_AsOf2020-03-26.csv
Asian Pac Holdings Bhd_12_PdChart_AsOf2020-03-26.csv
ALTA SA_12_PdChart_AsOf2020-03-26.csv
Akbank T.A.S._12_PdChart_AsOf2020-03-26.csv
Anadolu Hayat Emeklilik AS_12_PdChart_AsOf2020-03-26.csv
Australia & New Zealand Banking Group Ltd_12_PdChart_AsOf2020-03-26.csv
Al Mal Investment Co KSC_12_PdChart_AsOf2020-03-26.csv
Ashford Hospitality Trust Inc_12_PdChart_AsOf2020-03-26.csv
AMP Ltd_12_PdChart_AsOf2020-03-26.csv
../data/data_by_group/5/
Ecsponent Ltd_12_PdChart_AsOf2020-03-26.csv
Beijing Homyear Capital Holdings Co Ltd_12_PdChart_AsOf2020-02-05.csv
Askari Bank Ltd_12_PdChart_AsOf2020-03-26.csv
Jahangir Siddiqui & Co Ltd_12_PdChart_AsOf2020-03-26.csv
Harbin Gong Da High-Tech Enterprise Development Co Ltd_12_PdChart_AsOf2020-03-26.csv
Jilin Cheng Cheng Group Co Ltd_12_PdChart_AsOf2020-03-26.csv
UACN Property Development Co PLC_12_PdChart_AsOf2020-03-26.csv
Metro Land Corp Ltd_12_PdChart_AsOf2020-03-26.csv
Intu Properties PLC_12_PdChart_AsOf2020-03-26.csv
CBL & Associates Properties Inc_12_PdChart_AsOf2020-03-26.csv
Beh-Property Co Ltd_12_PdChart_AsOf2020-03-26.csv
Tianjin Songjiang Co Ltd_12_PdChart_AsOf2020-03-26.csv
Beijing Zodi Investment Co Ltd_12_PdChart_AsOf2020-03-26.csv
Ecobank Transnational Inc_12_PdChart_AsOf2020-03-26.csv
Resimac Group Ltd_12_PdChart_AsOf2020-03-26.csv
FlexiGroup Ltd_Australia_12_PdChart_AsOf2020-03-26.csv
DongfengSci-Tech Group Co Ltd_12_PdChart_AsOf2020-03-26.csv
Soneri Bank Ltd_12_PdChart_AsOf2020-03-26.csv

In [17]:
comb_data = comb_data.loc[begin_date:end_date,:]

In [18]:
comb_data.shape

(5564, 98)

In [19]:
final_data = None
for i in range(1,6):
    col_name = 'Rating '+str(i)
    data_df = pd.DataFrame(data=(comb_data.iloc[:,(i-1)*20:20*i ]).mean(axis=1),columns=[col_name])
#     data_df.rename(columns={data_df.columns[0]:col_name})
#     data_df = data_df.mean(axis=1)
    final_data = pd.concat([final_data,data_df],axis=1)

In [11]:
final_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Rating 1,5564.0,10.544340,13.870640,0.251361,0.942457,3.589556,20.333927,72.414634
Rating 2,5564.0,33.327062,38.044988,2.236069,6.801106,14.913389,49.078092,316.141157
Rating 3,5564.0,24.114457,19.666893,7.088716,14.187355,18.215159,26.668243,169.866809
Rating 4,5564.0,50.925267,55.664673,13.711202,25.757299,34.246854,48.205025,494.697090
Rating 5,5564.0,187.111412,107.505719,89.356796,128.212970,162.929417,202.778016,943.506443

In [20]:
final_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Rating 1,5564.0,8.581657,11.184883,0.264693,0.877217,2.708090,17.355776,57.070917
Rating 2,5564.0,17.290491,16.563163,1.987395,5.577332,9.431270,24.926724,94.570909
Rating 3,5564.0,25.337388,20.648640,7.563963,14.605913,18.832064,28.737752,168.764179
Rating 4,5564.0,50.925267,55.664673,13.711202,25.757299,34.246854,48.205025,494.697090
Rating 5,5564.0,194.552861,107.968373,93.379713,131.907521,173.246967,213.680136,980.275962